<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create New Employee</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

</head>
<body>
<div class="container my-3">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h2>Employee Registration</h2>
            <form th:action="@{/registration}" th:object="${userForm}" method="post">
                <div class="form-row">
                    <!--<div class="col-md-6 form-group">
                        <label>First name</label>
                        <input type="text" class="form-control" th:field="*{firsName}">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Last name</label>
                        <input type="text" class="form-control" th:field="*{lastName}">
                    </div>-->
                    <div class="col-md-6 form-group">
                        <label>Username</label>
                        <input type="text" class="form-control" th:field="*{username}">
                        <p class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Incorrect date</p>

                    </div>
                    <div class="col-md-6 form-group">
                        <label>Password</label>
                        <input type="text" class="form-control" th:field="*{password}">
                        <p class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Incorrect date</p>
                    </div>

                    <!--<div class="col-md-6 form-group">
                        <label>Birthday Date</label>
                        <input type="text" class="form-control" placeholder="yyyy-MM-dd" id="join_datepicker" th:field="*{birthday}">
                    </div>-->
                </div>
                <div align="center">
                    <button type="submit" class="btn btn-success">Save</button>
                    <a href="/login" class="btn btn-secondary">Or go to login</a>
                </div>
            </form>
        </div>
    </div>
</div>
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $(function () {
        $("#join_datepicker").datepicker({dateFormat: "yy-mm-dd"});
        $("#retire_datepicker").datepicker({dateFormat: "yy-mm-dd"});
    });
</script>-->
</body>
</html>